<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">


</head>
<body class="m-5">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-md-6">
            <a href="{% url 'photoalbum:gallery' %}" class="btn btn-dark my-3">Go Back</a>
              <div class="card">
                  <form action="" method="POST" enctype="multipart/form-data">

                      {% csrf_token %}
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
                          <input required type="text" name="description" placeholder="Share your story" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                      </div>

                      <select name= "category" class="form-select" aria-label="Default select example">
                          <option selected value="none">Select the category</option>
                          {% for category in categories%}
                          <option value="{{category.id}}">{{category.name}}</option>
                          {% empty %}
                          <h3>No category available</h3>
                          {% endfor %}
                      </select>

                      <div class="input-group mb-3 pt-3">
                          <span class="input-group-text" id="inputGroup-sizing-default">Crate a new category</span>
                          <input type="text" name="new_category" placeholder="Create a new one" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                      </div>

                      <div class="input-group mb-3 ">
                          <input required type="file" name="image" class="form-control" id="inputGroupFile02">
                          <label class="input-group-text" for="inputGroupFile02">Upload Image</label>
                      </div>

                      <button type="submit" class="btn btn-primary">Submit</button>

                  </form>
              </div>
            </div>
        </div>
    </div>

</body>
</html>