<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <style>
        .image-thumbail{
            height: 200px;
            object-fit: cover;

        }
    </style>
</head>
<body class="m-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="card">
                    <div class="card-header">
                        Categories
                    </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'photoalbum:gallery'%}">All</a>
                            </li>
                            {% for category in categories %}
                            <li class="list-group-item">
                                <a href="{% url 'photoalbum:gallery' %}?category={{category.name}}">{{category.name}}</a>
                            </li>
                            {% endfor %}


                            <a href="{% url 'photoalbum:add' %}" class="btn btn-dark btn-block btn-sm m-1">Add Photo</a>

                        </ul>
                </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                    {% for photo in photos %}
                    <div class="col-md-4">
                        <div class="card my-2">
                          <img class="image-thumbail" src="{{photo.image.url}}" class="card-img-top" alt="...">

                            <div class="card-body">
                            <small>Category: {{photo.category.name}}</small>
                            </div>
                            <a href="{% url 'photoalbum:photo' photo.pk %}" class="btn btn-outline-dark btn-sm m-1">View</a>

                        </div>
                    </div>
                    {% empty %}
                    <h3>No Photo...</h3>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

</body>
</html>