<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-container">
            <div class="col">
                <a href="{% url 'photoalbum:gallery' %}" class="btn btn-dark my-3">Go Back</a>
                
                <div style="height:90vh;">
                    <img style="max-width: 100%; max-height:100%;"
                            src="{{photo.image.url}}" alt="">

                    <p class="m-2">{{photo.description}}</p>
                </div>

            </div>
        </div>
    </div>


</body>
</html>